*{
    box-sizing: border-box;
    list-style-type: none;    
}

@font-face {
    font-family: 'nice sugar';
    src: url('../Resources/Personal/About/Fonts/Nice-Sugar.ttf/Nice\ Sugar.ttf') format('truetype');
}

body{
    font-family: "nice sugar", Arial;
    background-image: url(../Resources/Personal/About/Images/sea\ with\ stars.png);
}

h1{
    background-color:rgb(120, 209, 214);
    border-radius: 1cap;
    text-align: center;
    padding-right: 15px;
    font-size: 28px;
}

h2{
    background-color:rgb(120, 209, 214);
    border-radius: 1cap;
    padding-left: 15px;
}

.goldfish{
    position: absolute;
    z-index: 2;
    margin-top: 420px;
    margin-left: 770px;
}


.minecraft-axolotl{
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);
    rotate: 350deg;
    margin-top: 40px;
    margin-left: 5px;
}

.about-navbar{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.navbar-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about-grid{
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: 250px 500px 250px;
    grid-template-rows: 50px 500px;
    column-gap: 10px;
    margin: 100px 200px 100px 165px;
    color: rgb(41, 70, 68);
    font-size: 14px;
    font-optical-sizing: auto;
}

.about-center-box{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 800px;
    max-height: 1500px;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-image: url(../Resources/Personal/About/Images/sea.jpg);
    border-radius: 1cap;
    border: 5px solid rgb(120, 206, 201);
}

.about-center-box::-webkit-scrollbar {
    display: none;                  
}

/* .about-center-box::-webkit-scrollbar {
    width: 8px;                    
}

.about-center-box::-webkit-scrollbar-track {
    background: #f5f5dc;
    border-radius: 10px;
}

.about-center-box::-webkit-scrollbar-thumb {
    background-color: #76b80b;
    border-radius: 10px;
    border: 2px solid #f5f5dc;
} */

.section-background-opacity{
    position: relative;
    overflow: hidden;
    margin: 30px 30px 30px 30px;
    border-radius: 1cap;
    border: 2px dashed rgb(107,196,200);
}

.background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.content-container{
    position: relative;
    z-index: 1;
    padding: 0px 20px 0px 20px;
    text-align: justify;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

.random-button{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.random-button:hover{
    transform: scale(1.05);
}

.about-side-boxes{
    background-color: rgb(107,196,200);
    width: 250px;
    border-radius: 1cap;
}

#left-side-box{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#right-side-box{
    grid-column-start: 3;
    grid-column-end: 4;
    height: fit-content;
    padding-bottom: 10px;
}

.fact-list{
    list-style-image: url(../Resources/Personal/About/Images/light\ blue\ fish\ pixel.webp);
}

.list-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    gap: 50px;
}

.list-second-wrapper{
    display: flex;
    flex-direction: column;
    

}

.redirection-link{
    text-decoration: none; 
    color: inherit;
}

.redirection-link:hover{
    color: rgb(107,196,200);
}

.stats-box{
    padding-top: 5px;
    line-height: 25px;
    padding-bottom: 5px;
    margin: 10px 10px 30px 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 1cap;
    background-color: rgb(171,228,231);
}

.blinkie-box{
    margin-left: 10px;
    max-height: 200px;
    overflow-y: auto;

}

.blinkie-box::-webkit-scrollbar {
    display: none;                  
}

.fanlistings-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.favs-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;

}

.favs-image{
    width: 150px;
    height: 150px;
    border-radius: 1cap;
    border: 3px solid teal;
}

.favs-poster-image{
    width: 150px;
    height: 220px;
    border-radius: 1cap;
    border: 3px solid teal;
}
