*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url(../Resources/Home/Error/water2.webp);
}

.error-page{
    margin: 150px;
    
}

.background-opacity-section{
    position: relative;
    overflow: hidden;
    margin: 30px;
    border-radius: 1cap;
}

.background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.error-content{
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 30px;
    z-index: 1;

}

h1{
    padding-top: 40px;
    padding-bottom: 40px;
    color: red;
}

h2{
    color: blue;
}